:root {

    --selection-text-color: #ebcceb;
    --selection-backgorund-color: rgb(46, 2, 33);


    --background-color: black;


    --title-text-color: rgb(208, 238, 255);
    --title-text-shadow-color: rgb(102, 240, 187);


    --game-ui-color-input: rgb(181, 255, 162);
    --game-ui-background-color: rgb(1, 19, 1);
    --game-ui-border-color: rgb(2, 18, 20);


    --game-ui-cell-color: rgb(213, 255, 231);

    --game-ui-new-game-button-color: rgb(154, 255, 205);
    --game-ui-new-game-cell-color: rgb(0, 8, 4);

    --game-ui-player-name-background-color: rgb(0, 37, 13);


    --gameboard-status-bar-color: rgb(164, 255, 172);

    --ttt-cell-back-color: rgb(149, 235, 202);
    --ttt-border-color: rgb(2, 18, 20);
 
    
    --tic-tac-toe-cell-hover-color:  rgb(58, 2, 41);
    --tic-tac-toe-cell-selected-color: rgb(11, 70, 36);
    
    
    /** Is never used, but serves as fast color-picker */
    --color-test: rgb(1, 3, 1);
}


::-moz-selection {
        color: var(--selection-text-color);
        background: var(--selection-backgorund-color);
}

::selection {
        color: var(--selection-text-color);
        background: var(--selection-backgorund-color);
}



body {
    background-color: var(--background-color);
    
}


#title {
    min-height: 50px;
    color: var(--title-text-color);
    text-shadow: var(--title-text-shadow-color);
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
}


/* MAIN CONTAINER */
.gameboard {
    display: grid;
    grid-template-columns: auto;
    align-items: flex-start;
    direction: ltr;
    row-gap: 1vw;
}


/* USER INTERFACE */
.game-ui {
    display: inline-grid;
    background-color: var(--game-ui-background-color);
    grid-template-columns: auto auto auto auto auto;
    border: var(--game-ui-border-color) 3px solid;
    margin: auto;
    padding: 10px;
}

.game-ui-dissappeating {
    animation: xUIAnimation 0.2s linear;
}

@keyframes xUIAnimation {
    0% {
        opacity: 1;
        transform: translateY(0%);
    }

    50% {
        opacity: 0.5;
        transform: translateY(-50%);
    }

    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
    
}


.game-ui-cell {
    box-shadow: darkslategrey;
    min-width: 3vw;
    min-height: 3vw;
    color: var(--game-ui-cell-color);
    text-decoration: double;
    font-size: large;
    padding-top: 14px;
    text-align: center;
    margin: auto;
}

.game-ui-new-game {
    grid-column: 1 / 7;
    background-color: var(--game-ui-new-game-button-color);
    color: var(--game-ui-new-game-cell-color);
}

.game-ui-player-name-label {
    grid-column: 1;
}


.game-ui-player-name {
    grid-column:  2 / span 5;
    width: 12vw;
    margin: 0.5vw;
    background-color: var(--game-ui-player-name-background-color);
    color: var(--game-ui-color-input);
    text-align: start;
    font-size: medium;
    border: var(--game-ui-color-input) 2px solid;
    padding: 1%;
}

/* GAME STATUS BAR*/

.gameboard-status-bar {
    color: var(--gameboard-status-bar-color);
    text-align: center;
    font-size: small;
}

/* TIC TAC TOE PANEL */

.tic-tac-toe {
    display: grid;
    grid-template-columns: 12vw 12vw 12vw;
    grid-template-rows: 12vw 12vw 12vw;
    border: var(--ttt-border-color) 3px solid;
    margin: auto;
    animation: ttt-appearance 0.2s linear;
}

@keyframes ttt-appearance {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    50% {
        transform: translateY(50%);
        opacity: 0.5;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
    
}


.tic-tac-toe-cell {
    background-color: var(--ttt-cell-back-color);
    border: var(--ttt-border-color) 3px solid
}

.tic-tac-toe-cell-selected {
    background-color: var(--tic-tac-toe-cell-selected-color);
    border: var(--ttt-border-color) 4px solid;
    font-size: 5rem;
    animation: ttt-cell-selected-animation 300ms ease-in-out;
}

@keyframes ttt-cell-selected-animation {
    0% {
        opacity: 0%;
        font-size: 1rem;
    }
    100% {
        opacity: 100%;
        font-size: 5rem;
    }
}

.tic-tac-toe-cell:hover {
    background-color: var(--tic-tac-toe-cell-hover-color);
}


